mixin textInput (modelName)
    input.text-xxs.input-height(
        type="text"
        id=modelName
        ng-model="#{modelName}"
    )

mixin title (text)
    div.text-xxs.text-right
        div.spacer-xs
        div.spacer-1
        div.text-xbold= text

mixin textInputBlock (titleText, modelName)
    div.row
        div.column.small-2.text-center
            +title(titleText)

        div.column.small-10
            +textInput(modelName)

div.row.bg-white
    div.column.small-2
        label.text-center(for="practiceLocation.name")
            +title("Name")
    div.column.small-4
        div
            +textInput("practiceLocation.name")

    div.column.small-2
        label.text-center(for="practiceLocation.address")
            +title("Address")

    div.column.small-4
        div
            +textInput("practiceLocation.address")

div.spacer-md

div.row.bg-white
    div.column.small-2
        label.text-center(for="practiceLocation.city")
            +title("City")

    div.column.small-4
        div
            +textInput("practiceLocation.city")

    div.column.small-2
        label.text-center(for="practiceLocation.region")
            +title("Region")

    div.column.small-4
        div
            +textInput("practiceLocation.region")

div.spacer-md

div.row.bg-white

    div.column.small-2
        label.text-center(for="practiceLocation.zip")
            +title("Postal Code")

    div.column.small-2
        div
            +textInput("practiceLocation.zip")

    div.column.small-2.small-offset-2
        label.text-center(for="practiceLocation.country")
            +title("Country")

    div.column.small-4
        div
            +textInput("practiceLocation.country")

div.spacer-md

include pages/add-team/practices/times/index

div.spacer-lg