doctype html
head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='google-signin-scope', content='profile emai')
    meta(name='google-signin-client_id', content='805786073538-u3s0hdanqvhsgp007dv76t2kg8le8vv2.apps.googleusercontent.com')

    if title
        title UWR Tourist - {{ title }}
    else
        title UWR Tourist

    link(rel='shortcut icon', href='/resources/images/favicon.png')

    link(
        rel="stylesheet"
        type="text/css"
        href="/node_modules/font-awesome-plus/css/font-awesome.min.css"
    )

    link(
        rel='stylesheet'
        type='text/css'
        href='/resources/build/build.css'
    )

    {% block css %}
    {% endblock %}

    script(src="https://apis.google.com/js/platform.js", async, defer)
    {% block javascript %}
    {% endblock %}

body.text-gray-dark
    include partials/header

    div.row.collapse
        div.column.small-11.small-centered
            {% block body %}
            {% endblock %}

    include partials/footer
