doctype html
head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')

    if title
        title UWR Tourist - {{ title }}
    else
        title UWR Tourist

    link(rel='shortcut icon', href='/resources/images/favicon.png')

    link(
        rel="stylesheet"
        type="text/css"
        href="/node_modules/font-awesome-plus/css/font-awesome.min.css"
    )

    link(
        rel='stylesheet'
        type='text/css'
        href='/resources/build/build.css'
    )

    {% block css %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}

body.text-gray-dark
    include partials/header

    div.row.collapse
        div.column.small-11.small-centered
            {% block body %}
            {% endblock %}

    include partials/footer