- from './mixins/titleBanner.jade' import titleBanner
- from './mixins/mainColumn.jade' import mainColumn

+titleBanner(11)
    div.text-sm Basic Info

+mainColumn()
    div.spacer-lg
    div.row
        div.column.small-12
            div.row.uncollapse
                div.column.small-2.text-right
                    div.spacer-xs
                    div.text-xxs.text-xbold Team Name

                div.column.small-4.left
                    input.text-xxs.round-md(
                        type="text"
                        name="name"
                        tabindex="1"
                    )

            div.spacer-md

            div.row.uncollapse
                div.column.small-2.text-right
                    div.spacer-xs
                    div.text-xxs.text-xbold Location

                div.column.small-4.left
                    input.text-xxs.round-md(
                        type="text"
                        name="city"
                        tabindex="2"
                        placeholder="Your team's metro area"
                    )

                div.column.small-2.small-offset-1.text-right
                    div.spacer-xs
                    div.text-xxs Year Founded

                div.column.small-3.left
                    select.text-xxs(
                        name="yearEstablished"
                        tabindex="3"
                    )
                        option(default) I don't know
                        option 2014
                        option 2015

            div.spacer-md

            div.row.uncollapse
                div.column.small-2.text-right
                    div.spacer-xs
                    div.text-xxs Blurb

                div.column.small-10.left
                    textarea.round-md.text-xxs(
                        name="blurb"
                        tabindex="4"
                        placeholder="Introduce your team!"
                        rows="10"
                    )
    div.spacer-xl