- from './mixins/titleBanner.jade' import titleBanner
- from './mixins/mainColumn.jade' import mainColumn
- from './pages/add-team/mixins.jade' import textInput, title, errorSet

+titleBanner(12)
    div.text-sm Basic Info

+mainColumn()
    div.spacer-xl
    div.row.uncollapse
        div.column.small-2.text-right
            div.spacer-xs
            label.text-xxs.text-xbold(for="form.name") Team Name

        div.column.small-4
            +textInput("form.name")

        div.column.small-2.text-right(ng-if="form.status")
            div.spacer-xs
            label.text-xxs.text-xbold(for="form.status") Status

        div.column.small-2(ng-if="form.isAdmin")
            select.text-xxs(
                id="form.status"
                ng-model="form.status"
                ng-options="status for status in form.statusOptions"
                name="status"
            )

        div.column.small-12
            div.spacer-md

        div.column.small-2.text-right
            div.spacer-xs
            label.text-xxs.text-xbold(for="form.location.val") Location

        div.column.small-4.left
            input.text-xxs(
                id="form.location.val"
                ng-model="form.location.val"
                type="text"
                name="city"
                autocomplete="off"
                placeholder="Your team's metro area"
            )

        div.column.small-2.text-right
            div.spacer-xs
            label.text-xxs(for="form.yearEstablished") Year Founded

        div.column.small-2.left
            select.text-xxs(
                id="form.yearEstablished"
                ng-model="form.yearEstablished"
                name="yearEstablished"
                ng-options="year for year in form.yearEstablishedOptions"
            )

    div.spacer-md

    div.row.uncollapse
        div.column.small-2.text-right
            div.spacer-xs
            label.text-xxs(for="form.blurb") Blurb

        div.column.small-8.left
            textarea.text-xxs(
                id="form.blurb"
                ng-model="form.blurb"
                placeholder="Introduce your team!"
                rows="4"
            )

    +errorSet('basicInfo')
