- from './mixins/titleBanner.jade' import titleBanner
- from './mixins/mainColumn.jade' import mainColumn

+titleBanner(12)
    div.text-sm Basic Info

+mainColumn()
    div.spacer-xl
    div.row.uncollapse
        div.column.small-2.text-right
            div.spacer-xs
            div.text-xxs.text-xbold Team Name

        div.column.small-4
            input.text-xxs(
                ng-model="form.name"
                type="text"
                name="name"
            )

        div.column.small-2.text-right(ng-if="form.status")
            div.spacer-xs
            div.text-xxs.text-xbold Status

        div.column.small-2(ng-if="form.isAdmin")
            select.text-xxs(
                ng-model="form.status"
                ng-options="status for status in form.statusOptions"
                name="status"
            )

        div.column.small-12
            div.spacer-md

        div.column.small-2.text-right
            div.spacer-xs
            div.text-xxs.text-xbold Location

        div.column.small-3.left
            input.text-xxs(
                ng-model="form.location.val"
                type="text"
                name="city"
                autocomplete="off"
                placeholder="Your team's metro area"
            )

        div.column.small-2.small-offset-1.text-right
            div.spacer-xs
            div.text-xxs Year Founded

        div.column.small-2.left
            select.text-xxs(
                ng-model="form.yearEstablished"
                name="yearEstablished"
                ng-options="year for year in form.yearEstablishedOptions"
            )

    div.spacer-md

    div.row.uncollapse
        div.column.small-2.text-right
            div.spacer-xs
            div.text-xxs Blurb

        div.column.small-8.left
            textarea.text-xxs(
                name="blurb"
                placeholder="Introduce your team!"
                rows="4"
            )