- from './mixins/titleBanner.jade' import titleBanner
- from './mixins/mainColumn.jade' import mainColumn
- from './mixins/squareCounter.jade' import squareCounter

+titleBanner(11)
    div.text-sm Contacts

+mainColumn
    div.spacer-lg
    div.row
        div.column.small-12
            div.row.collapse(ng-repeat="(index, contactInput) in form.contacts.all")

                div.column.small-8
                    div.row.uncollapse
                        div.column.small-3.text-right
                            div.spacer-xs
                            div.spacer-1
                            div.text-xbold.text-xxs Name

                        div.column.small-9
                            div.row.collapse
                                div.column.small-12
                                    input.input-height.text-xxs(
                                        type="text"
                                        name="contact"
                                        tabindex="5"
                                        ng-model="contactInput.name"
                                    )
                        div.column.small-12
                            div.spacer-md

                        div.column.small-3.text-right
                                div.spacer-xs
                                div.spacer-1
                                div.text-xbold.text-xxs Email

                        div.column.small-4
                            input.text-xxs.input-height(
                                type="text"
                                name="contact"
                                tabindex="5"
                                ng-model="contactInput.email"
                            )

                        div.column.small-2.text-right
                            div.spacer-xs
                            div.spacer-1
                            div.text-xxs Role

                        div.column.small-3
                            input.text-xxs.input-height(
                                type="text"
                                name="contact"
                                tabindex="5"
                                ng-model="contactInput.title"
                                placeholder="e.g. Coach"
                            )

                div.column.small-1.bg-red.round-md-right(
                    ng-click="form.contacts.remove(index)"
                )
                    div.text-xxs.text-center
                        div.spacer-xl
                        div.spacer-xxs
                        div
                            i.fa.fa-times.text-white
                        div.spacer-xl
                        div.spacer-1

                div.column.small-12
                    div.spacer-xl

            div.row.uncollapse
                div.column.small-10.small-offset-2
                    div.row.collapse
                        div.column.small-4.left.text-white.round-md.bg-blue(ng-click="form.contacts.create()")
                            div.input-height.text-xxs.column.small-10.small-centered.text-left
                                div.pull-left
                                    div.spacer-xs
                                    div.spacer-1
                                    div Add New Contact
                                div.pull-right
                                    div.spacer-xs
                                    div
                                        i.fa.fa-plus


    div.spacer-xl