- from './mixins/titleBanner.jade' import titleBanner
- from './mixins/mainColumn.jade' import mainColumn
- from './mixins/squareCounter.jade' import squareCounter
- from './pages/add-team/mixins.jade' import textInput, label

+titleBanner(12)
    div.text-sm Contacts

+mainColumn
    div.spacer-xl
    div.row
        div.column.small-12
            div.row.collapse(ng-repeat="(contactIndex, contactInput) in form.contacts.all")

                div.column.small-12(id="[[ 'contact' + contactIndex ]]")
                    div.row.uncollapse
                        - set model = "contactInput.name"
                        - set uid = "[[ '" + model + "' + contactIndex ]]"

                        div.column.small-2
                            +label("Name", uid)

                        div.column.small-10
                            div.row
                                div.column.small-3
                                    div.row.collapse
                                        div.column.small-12
                                            +textInput(model, uid)

                                - set model = "contactInput.email"
                                - set uid = "[[ '" + model + "' + contactIndex ]]"
                                div.column.small-1
                                    +label("Email", uid)
                                div.column.small-3
                                    +textInput(model, uid)

                                - set model = "contactInput.title"
                                - set uid = "[[ '" + model + "' + contactIndex ]]"
                                div.column.small-1
                                    +label("Role", uid)
                                div.column.small-3
                                    input.text-xxs.input-height(
                                        type="text"
                                        id=uid
                                        ng-model=model
                                        placeholder="e.g. Coach"
                                    )

                                div.column.small-1.text-gray-md.text-hover-red(
                                    ng-click="form.contacts.remove(contactIndex)"
                                )
                                    div.spacer-xxs
                                    div.text-xs.text-center
                                        i.fa.fa-times
                                    div.spacer-xxs

                div.column.small-12
                    div.spacer-xl

            div.row.uncollapse
                div.column.small-10.small-offset-2
                    div.btn-blue.pressable.text-xs(ng-click="form.contacts.create()")
                        div.input-height
                                div.spacer-xs
                                div.spacer-1
                                div
                                    span Add Contact
                                    span &nbsp;&nbsp;&nbsp;&nbsp;
                                    i.fa.fa-plus