mixin textInput (modelName)
    input.text-xxs.input-height(
        type="text"
        id=modelName
        ng-model="#{modelName}"
    )

mixin title (text)
    div.text-xxs.text-right
        div.spacer-xs
        div.spacer-1
        div.text-xbold= text