{% extends "layout.jade" %}

{% block javascript %}
script
    window.teams = {{ teams }};
{% endblock %}

{% block body %}
div.row.double-gutter
    div.column.small-12.small-centered(
        ng-app="ControllerTeamsList"
        ng-controller="ControllerTeamsList"
        ng-cloak
    )
        div.spacer-lg
        div.row.collapse
            div.column.small-12
                div.row.uncollapse
                    div.column.small-6
                        input.text-xxs.text-gray-dark.text-thin.width-full.spacer-xl.pad.bg-white(
                            type="text"
                            placeholder="Search by Name or Region"
                            ng-model="table.filter.value"
                            ng-change="applyTableFilter()"
                            tabindex="1"
                        )

                    div.column.small-6
                        div.row.collapse.text-white.paginate
                            include pages/teams/tableControls

        div.spacer-sm
        div.row.uncollapse
            div.column.small-12
                include pages/teams/table

        div.spacer-xl
{% endblock %}
