table.text-left.text-gray-dark.text-xxs.valign-top
    thead
        tr.bg-gray-dark
            th.text-white.text-thin.unselectable(
                ng-repeat="keyObj in table.keys"
                ng-click="table.order.set(keyObj.value)"
                ng-class="{
                    'selected bg-blue'    : table.order.latestInput === keyObj.value,
                    'reversed'    : table.order.latestInput === keyObj.value && table.order.reverse
                }"
            )
                div.pad-lr-2x.pad-tb.width-full
                    span [[keyObj.display]]
                    span.table-arrow
    tbody.bg-white
        tr.bg-hover-gray-md-dark.text-hover-white.text-thin(
            ng-repeat='row in table.paginate.rows'
        )
            td(ng-repeat='keyObj in table.keys')
                a.pad-lr-2x.pad-tb.width-full(
                    href="/team/[[row.id]]"
                    ng-if="keyObj.value !== 'links'"
                )
                    div.spacer-xs
                    div(ng-if="typeOf(row[keyObj.value]) !== 'object'")
                        div [[ row[keyObj.value] ]]
                        div.spacer-sm

                    div.pull-left(
                        ng-if="typeOf(row[keyObj.value]) === 'object'"
                        ng-repeat='val in :: row[keyObj.value] track by $index'
                    )
                        div(ng-if="keyObj.value != 'links'") [[val.text]]
                div(ng-if="keyObj.value === 'links'").width-full.pad-lr
                    div
                        div.left.pad-lr(
                            ng-if="val.link"
                            ng-repeat='val in row[keyObj.value] track by $index'
                        )

                            a(href="[[ :: val.link ]]").text-xs.text-hover-gray-dark
                                div.fa-stack
                                    i.fa.fa-stack-2x.fa-circle-thin(
                                        ng-class="{'text-none': getFAClass(val.link) == 'fa-meetup'}"
                                    )
                                    i.fa.fa-stack-1x(class="[[ :: getFAClass(val.link) ]]")
                                div.spacer-xxs