{% extends "layout.jade" %}

{% block css%}
{% endblock %}

{% block javascript %}
script(src="/node_modules/lodash/index.js")
script(src="/node_modules/jquery/dist/jquery.min.js")
script(src="/node_modules/angular/angular.js")
script(src="/resources/js/controllers/addTeam.js")
{% endblock %}

mixin TeamFormHeader (text)
    div.row.collapse.bg-gray-light
        div.column.small-11.small-centered
            div.row
                div.column.small-12
                    div.spacer-xs
                    div.text-sm {{text}}
                    div.spacer-xs

mixin FASquareContent (text, squareColor, textColor)
    div.fa-stack.text-xxs
        i.fa.fa-stack-2x.fa-square(class=squareColor)
        i.fa.fa-stack-1x.text-xbold(class=textColor)= text

{% block body %}
form(
    ng-app="ControllerAddTeam"
    ng-controller="ControllerAddTeam"
    ng-cloak
    novalidate
)
    +TeamFormHeader('Basic Info')

    div.row.collapse
        div.column.small-11.small-centered
            div.spacer-lg
            div.row
                div.column.small-12
                    div.row.uncollapse
                        div.column.small-2.text-right
                            div.spacer-xs
                            div.text-xxs.text-xbold Team Name

                        div.column.small-4.left
                            input.text-xxs.round-md(
                                type="text"
                                name="name"
                                tabindex="1"
                            )

                    div.spacer-md

                    div.row.uncollapse
                        div.column.small-2.text-right
                            div.spacer-xs
                            div.text-xxs.text-xbold Location

                        div.column.small-4.left
                            input.text-xxs.round-md(
                                type="text"
                                name="city"
                                tabindex="2"
                                placeholder="Your team's metro area"
                            )

                        div.column.small-2.small-offset-1.text-right
                            div.spacer-xs
                            div.text-xxs Year Founded

                        div.column.small-3.left
                            select.text-xxs(
                                name="yearEstablished"
                                tabindex="3"
                            )
                                option(default) I don't know
                                option 2014
                                option 2015

                    div.spacer-md

                    div.row.uncollapse
                        div.column.small-2.text-right
                            div.spacer-xs
                            div.text-xxs Blurb

                        div.column.small-10.left
                            textarea.round-md.text-xxs(
                                name="blurb"
                                tabindex="4"
                                placeholder="Introduce your team!"
                                rows="10"
                            )
            div.spacer-xl

    +TeamFormHeader('Links')

    div.row.collapse
        div.column.small-11.small-centered
            div.spacer-lg
            div.row
                    div.row.uncollapse(ng-repeat="(index, urlInput) in form.links.all")
                        div.column.small-2.text-right
                            +FASquareContent('[[ index + 1 ]]', 'text-green', 'text-white')

                        div.column.small-9
                            div.row.collapse.bg-white.round-md-left.border-gray-dark
                                div.column.small-2.text-center
                                    div.bg-gray-dark.input-height.text-white.text-xxs
                                        div.spacer-xs
                                        div.spacer-1
                                        div.text-xbold URL
                                div.column.small-10.border-none-l
                                    div.text-xxs.input-height
                                        input.pad.input-invis(
                                            type="text"
                                            name="link"
                                            tabindex="5"
                                            ng-model="urlInput.val"
                                        )
                        div.column.small-1.bg-red.border-red.round-md-right(
                            ng-click="form.links.remove(index)"
                        )
                            div.text-xxs.input-height.text-center
                                div.spacer-xs
                                div.spacer-1
                                div.text-xxs
                                    i.fa.fa-times.text-white

                        div.column.small-12
                            div.spacer-md

                    div.row.uncollapse(ng-if="form.links.all.length < 3")
                        div.column.small-10.small-offset-2
                            div.row.collapse.text-center(ng-click="form.links.create()")
                                div.column.small-1.border-gray-dark.bg-gray-dark.round-md-left
                                    div.input-height.text-white.text-xxs
                                        div.spacer-xs
                                        div.spacer-1
                                        div
                                            i.fa.fa-plus
                                div.column.small-4.left.border-green.border-none-l.bg-green.text-white.round-md-right
                                    div.text-xxs.input-height.pad
                                        span Add New Link

            div.spacer-xl

    +TeamFormHeader('Contacts')

    div.row.collapse
        div.column.small-11.small-centered
            div.spacer-lg
            div.row
                div.column.small-12
                    div.row.uncollapse(ng-repeat="(index, contactInput) in form.contacts.all")
                        div.column.small-2.text-right
                            +FASquareContent('[[ index + 1 ]]', 'text-green', 'text-white')

                        div.column.small-9
                            div.row.collapse.border-gray-dark.border-none-l.bg-white.round-md-tl
                                div.column.small-2.text-center
                                    div.bg-gray-dark.input-height.text-white.text-xxs
                                        div.spacer-xs
                                        div.spacer-1
                                        div.text-xbold Name
                                div.column.small-10.border-gray-dark-l
                                    div.text-xxs.input-height
                                        input.pad.input-invis(
                                            type="text"
                                            name="contact"
                                            tabindex="5"
                                            ng-model="contactInput.name"
                                        )

                            div.spacer-xs

                            div.row.collapse.border-gray-dark.border-none-l.bg-white
                                div.column.small-2.text-center
                                    div.bg-gray-dark.input-height.text-white.text-xxs
                                        div.spacer-xs
                                        div.spacer-1
                                        div.text-xbold Email
                                div.column.small-10.border-gray-dark-l
                                    div.text-xxs.input-height
                                        input.pad.input-invis(
                                            type="text"
                                            name="contact"
                                            tabindex="5"
                                            ng-model="contactInput.email"
                                        )

                            div.spacer-xs

                            div.row.collapse.border-gray-dark.border-none-l.bg-white.round-md-bl
                                div.column.small-2.text-center
                                    div.bg-gray-dark.input-height.text-white.text-xxs
                                        div.spacer-xs
                                        div.spacer-1
                                        div Title
                                div.column.small-10.border-gray-dark-l
                                    div.text-xxs.input-height
                                        input.pad.input-invis(
                                            type="text"
                                            name="contact"
                                            tabindex="5"
                                            ng-model="contactInput.title"
                                        )
                        div.column.small-1.bg-red.round-md-right(
                            ng-click="form.contacts.remove(index)"
                        )
                            div.text-xxs.text-center
                                div.spacer-lg
                                div.spacer-lg
                                div.spacer-1
                                div.spacer-1
                                div
                                    i.fa.fa-times.text-white
                                div.spacer-lg
                                div.spacer-lg
                                div.spacer-xxs

                        div.column.small-12
                            div.spacer-md
                    div.row.uncollapse
                        div.column.small-10.small-offset-2
                            div.row.collapse.text-center(ng-click="form.contacts.create()")
                                div.column.small-1.border-gray-dark.bg-gray-dark.round-md-left
                                    div.input-height.text-white.text-xxs
                                        div.spacer-xs
                                        div.spacer-1
                                        div
                                            i.fa.fa-plus
                                div.column.small-4.left.border-green.border-none-l.bg-green.round-md-right.text-white
                                    div.text-xxs.input-height.pad
                                        span Add New Contact

            div.spacer-xl

    +TeamFormHeader('Practice Locations')

    div.row.collapse
        div.column.small-11.small-centered
            div.spacer-lg
            div.row
                div.column.small-12
                    div.row.uncollapse(ng-repeat="(index, practiceLocation) in form.practiceLocations.all")
                        div.column.small-2.text-right
                            +FASquareContent('[[ index + 1 ]]', 'text-green', 'text-white')

                        div.column.small-9
                            div.row.collapse.border-gray-dark.border-none-l.bg-white.round-md-tl
                                div.column.small-2.text-center
                                    div.bg-gray-dark.input-height.text-white.text-xxs
                                        div.spacer-xs
                                        div.spacer-1
                                        div.text-xbold Name
                                div.column.small-10.border-gray-dark-l
                                    div.text-xxs.input-height
                                        input.pad.input-invis(
                                            type="text"
                                            name="contact"
                                            tabindex="5"
                                            ng-model="practiceLocation.name"
                                        )

                            div.spacer-xs

                            div.row.collapse.border-gray-dark.border-none-l.bg-white
                                div.column.small-2.text-center
                                    div.bg-gray-dark.input-height.text-white.text-xxs
                                        div.spacer-xs
                                        div.spacer-1
                                        div.text-xbold Address
                                div.column.small-10.border-gray-dark-l
                                    div.text-xxs.input-height
                                        input.pad.input-invis(
                                            type="text"
                                            name="contact"
                                            tabindex="5"
                                            ng-model="practiceLocation.address"
                                        )

                            div.spacer-xs

                            div.row.collapse.border-gray-dark.border-none-l.bg-white
                                div.column.small-2.text-center
                                    div.bg-gray-dark.input-height.text-white.text-xxs
                                        div.spacer-xs
                                        div.spacer-1
                                        div.text-xbold City
                                div.column.small-10.border-gray-dark-l
                                    div.text-xxs.input-height
                                        input.pad.input-invis(
                                            type="text"
                                            name="contact"
                                            tabindex="5"
                                            ng-model="practiceLocation.city"
                                        )

                            div.spacer-xs
                            div.width-full
                                div.row.collapse.bg-white
                                    div.column.small-2
                                        div.text-center.border-gray-dark.border-none-l.border-none-r
                                            div.bg-gray-dark.input-height.text-white.text-xxs
                                                div.spacer-xs
                                                div.spacer-1
                                                div.text-xbold Region
                                    div.column.small-5
                                        div.border-gray-dark
                                            div.text-xxs.input-height
                                                input.pad.input-invis(
                                                    type="text"
                                                    name="contact"
                                                    tabindex="5"
                                                    ng-model="practiceLocation.region"
                                                )

                                    div.column.small-2.small-offset-1
                                        div.text-center.border-gray-dark.border-none-l.border-none-r
                                            div.bg-gray-dark.input-height.text-white.text-xxs
                                                div.spacer-xs
                                                div.spacer-1
                                                div.text-xbold Zip
                                    div.column.small-2
                                        div.border-gray-dark
                                            div.text-xxs.input-height
                                                input.pad.input-invis(
                                                    type="text"
                                                    name="contact"
                                                    tabindex="5"
                                                    ng-model="practiceLocation.postalCode"
                                                )

                            div.spacer-xs

                            div.row.collapse.border-gray-dark.border-none-l.bg-white
                                div.column.small-2.text-center
                                    div.bg-gray-dark.input-height.text-white.text-xxs
                                        div.spacer-xs
                                        div.spacer-1
                                        div.text-xbold Country
                                div.column.small-10.border-gray-dark-l
                                    div.text-xxs.input-height
                                        input.pad.input-invis(
                                            type="text"
                                            name="contact"
                                            tabindex="5"
                                            ng-model="practiceLocation.country"
                                        )

                            div.spacer-xs

                            div.row.collapse.border-gray-dark-bottom.bg-white.round-md-bl
                                div.column.small-2.text-center
                                    div.bg-gray-dark.input-height.text-white.text-xxs
                                        div.spacer-xs
                                        div.spacer-1
                                        div.text-xbold Times
                            div.spacer-xs

                            div.row.collapse(
                                ng-repeat="(index, time) in practiceLocation.times.all"
                            )
                                div.column.small-2
                                    div.right.text-xxs
                                        +FASquareContent('[[ index + 1 ]]', 'text-blue', 'text-white')
                                        span &nbsp;&nbsp;

                                div.column.small-10
                                    div.row.collapse

                                        div.column.small-5
                                            div.row.collapse
                                                div.column.small-6
                                                    div.text-center.border-gray-dark
                                                        div.bg-gray-dark.input-height.text-white.text-xxs
                                                            div.spacer-xs
                                                            div.spacer-1
                                                            div.text-xbold Start
                                                div.column.small-6
                                                    div.border-gray-dark
                                                        div.text-xxs.input-height
                                                            input.pad.input-invis(
                                                                type="text"
                                                                name="contact"
                                                                tabindex="5"
                                                                ng-model="time.startTime"
                                                            )
                                        div.column.small-5.right
                                            div.row.collapse
                                                div.column.small-6
                                                    div.text-center.border-gray-dark
                                                        div.bg-gray-dark.input-height.text-white.text-xxs
                                                            div.spacer-xs
                                                            div.spacer-1
                                                            div.text-xbold End
                                                div.column.small-6
                                                    div.border-gray-dark
                                                        div.text-xxs.input-height
                                                            input.pad.input-invis(
                                                                type="text"
                                                                name="contact"
                                                                tabindex="5"
                                                                ng-model="time.endTime"
                                                            )

                                    div.spacer-xs
                                    div.row.collapse
                                        div.column.small-2
                                            div.text-center.border-gray-dark
                                                div.bg-gray-dark.input-height.text-white.text-xxs
                                                    div.spacer-xs
                                                    div.spacer-1
                                                    div.text-xbold Day
                                        div.column.small-6.left
                                            div.text-xxs.border-gray-md
                                                select.text-xxs.input-invis.input-height(
                                                    name="[[index + 'day']]"
                                                    ng-model="time.day"
                                                    tabindex="5"
                                                )
                                                    option(ng-repeat="day in form.practiceLocations.dayOptions") [[ day ]]

                            div.spacer-md

                            div.row.collapse.bg-white.round-md-bl.text-center
                                div.column.small-1.small-offset-2.bg-gray-dark.round-md-left.border-gray-dark(ng-click="practiceLocation.times.create()")
                                    div.input-height.text-white.text-xxs
                                        div.spacer-xs
                                        div.spacer-1
                                        div
                                            i.fa.fa-plus
                                div.column.small-5.left.border-green.border-none-l.bg-blue.text-white.round-md-right(ng-click="practiceLocation.times.create()")
                                    div.text-xxs.input-height.pad
                                        span Add New Practice Time

                        div.column.small-1.bg-red.round-md-right(
                            ng-click="form.practiceLocations.remove(index)"
                        )
                            div.text-xxs.text-center
                                div.spacer-xl
                                div.spacer-xl
                                div.spacer-sm
                                div.spacer-xxs
                                div
                                    i.fa.fa-times.text-white
                                div.spacer-xl
                                div.spacer-xl
                                div.spacer-sm
                                div.spacer-xxs
                        div.column.small-12
                            div.spacer-md

                    div.spacer-md
                    div.row.uncollapse
                        div.column.small-10.small-offset-2
                            div.row.collapse.text-center(ng-click="form.practiceLocations.create()")
                                div.column.small-1.border-gray-dark.bg-gray-dark.round-md-left
                                    div.input-height.text-white.text-xxs
                                        div.spacer-xs
                                        div.spacer-1
                                        div
                                            i.fa.fa-plus
                                div.column.small-6.left.border-green.border-none-l.bg-green.text-white.round-md-right
                                    div.text-xxs.input-height.pad
                                        span Add New Practice Location

            div.spacer-xl
            div.text-center
                input.pad-tb.pad-lr-2x.bg-green.text-white.text-sm(
                    type="submit"
                )
            div.spacer-lg

{% endblock %}