{% extends "layout.jade" %}

{% block css%}
link(
    href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css',
    rel='stylesheet'
)
{% endblock %}

{% block javascript %}
script(src="/node_modules/lodash/index.js")
script(src="/node_modules/jquery/dist/jquery.min.js")
script(src="/node_modules/angular/angular.min.js")
script(src="/resources/js/filters/startAt.js")
script(src="/resources/js/controllers/teamsList.js")
script(src="/resources/js/table.js")
script
    window.teams = {{ teams }};
{% endblock %}

{% block body %}
div.row.collapse.bg-gray-light
    div.column.small-11.small-centered(
        ng-app="ControllerTeamsList"
        ng-controller="ControllerTeamsList"
        ng-cloak
    )
        div.spacer-lg
        div.row
            div.column.small-6
                input.text-xxs.text-gray-dark.text-thin.width-full.spacer-xl.pad.bg-white(
                    type="text"
                    placeholder="Search by Name or Region"
                    ng-model="table.filter.value"
                    ng-change="table.filter.apply()"
                    tabindex="1"
                )

            div.column.small-6
                div.row.collapse.text-white
                    div.column.small-4.bg-green(ng-click="table.paginate.previous()")
                        div.text-xxs.width-full.pad.text-center(ng-class="{disabled : table.paginate.disableButtons()}")
                            div.text-valign Previous

                    div.column.small-4
                        div.text-xxs.width-full.pad.text-center.bg-gray-dark
                            div.text-valign Page [[ table.paginate.displayCurrent() ]] of [[ table.paginate.length ]]
                    div.column.small-4.height-medium.bg-green(ng-click="table.paginate.next()")
                        div.text-xxs.width-full.pad.text-center(ng-class="{disabled : table.paginate.disableButtons()}")
                            div.text-valign Next

        div.spacer-sm
        div.row
            div.column.small-12
                table.text-left.text-gray-dark.text-xxs.valign-top
                    thead
                        tr.bg-gray-dark
                            th.text-white.text-thin.unselectable(
                                ng-repeat="keyObj in table.keys"
                                ng-click="table.order.set(keyObj.value)"
                                ng-class="{
                                    'selected bg-blue'    : table.order.latestInput === keyObj.value,
                                    'reversed'    : table.order.latestInput === keyObj.value && table.order.reverse
                                }"
                            )
                                div.pad-lr-2x.pad-tb.width-full
                                    span [[keyObj.display]]
                                    span.table-arrow
                    tbody.bg-white
                        tr.bg-hover-gray-md-dark.text-hover-white.text-thin(
                            ng-repeat='
                                row in table.rows.queried
                                | orderBy : table.order.value : table.order.reverse
                                | startAt   : table.paginate.firstRow
                                | limitTo   : table.paginate.maxRows
                            '
                        )
                            td(ng-repeat='keyObj in table.keys')
                                a.pad-lr-2x.pad-tb.width-full(
                                    href="/"
                                    ng-if="keyObj.value !== 'links'"
                                )
                                    div.spacer-xs
                                    div(ng-if="typeOf(row[keyObj.value]) !== 'object'")
                                        div [[ row[keyObj.value] ]]
                                        div.spacer-sm

                                    div.pull-left(
                                        ng-if="typeOf(row[keyObj.value]) === 'object'"
                                        ng-repeat='val in row[keyObj.value] track by $index'
                                    )
                                        div(ng-if="keyObj.value != 'links'") [[val.text]]
                                div(ng-if="keyObj.value === 'links'").width-full.pad-lr
                                    div
                                        div.left.pad-lr(
                                            ng-if="val.link"
                                            ng-repeat='val in row[keyObj.value] track by $index'
                                        )

                                            a(href="[[val.link]]").text-xs.text-hover-gray-dark
                                                div.spacer-xs
                                                div.fa-stack
                                                    i.fa.fa-stack-2x.fa-circle-thin
                                                    i.fa.fa-stack-1x(class="[[icons.getClass(val.link)]]")
                                                div.spacer-xxs
        div.spacer-xl
{% endblock %}
