{% extends "layout.jade" %}

{% block css%}
link(
    href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css',
    rel='stylesheet'
)
{% endblock %}

{% block javascript %}
script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js")
script(src="/resources/js/filters/startAt.js")
script(src="/resources/js/controllers/teams.js")
script(src="/resources/js/table.js")
script
    window.teams = {{ teams }};
{% endblock %}

{% block body %}
div.row.bg-gray-light
    div.column.small-11.small-centered(
        ng-app="ControllerTeams"
        ng-controller="ControllerTeams"
        ng-cloak
    )
        div.spacer-lg
        div.row.collapse.bg-green.text-white
            div.column.small-6
                input.text-xxs.text-gray-dark.text-thin.width-full.spacer-xl.pad(
                    type="text"
                    placeholder="Search by Name or Region"
                    ng-model="table.filter.value"
                    ng-change="table.filter.apply()"
                    tabindex="1"
                )


            div.columns.small-2.height-medium(ng-click="table.paginate.previous()")
                div.text-xxs.width-full.pad.text-center(ng-class="{disabled : table.paginate.disableButtons()}")
                    div.text-valign Previous

            div.columns.small-2.height-medium
                div.text-xxs.width-full.pad.text-center.bg-gray-dark
                    div.text-valign Page [[ table.paginate.displayCurrent() ]] of [[ table.paginate.length ]]
            div.columns.small-2(ng-click="table.paginate.next()")
                div.text-xxs.width-full.pad.text-center(ng-class="{disabled : table.paginate.disableButtons()}")
                    div.text-valign Next

        div.spacer-sm
        table.text-left.text-gray-dark.text-xxs.valign-top
            thead
                tr.bg-gray-dark
                    th.text-white.text-thin.unselectable(
                        ng-repeat="keyObj in table.keys"
                        ng-click="table.order.set(keyObj.value)"
                        ng-class="{
                            'selected bg-blue'    : table.order.latestInput === keyObj.value,
                            'reversed'    : table.order.latestInput === keyObj.value && table.order.reverse
                        }"
                    )
                        div.pad-lr-double.pad-tb.width-full
                            span [[keyObj.display]]
                            span.table-arrow
            tbody.bg-white
                tr.bg-hover-gray-md-dark.text-hover-white.text-thin(
                    ng-repeat='
                        row in table.rows.queried
                        | orderBy : table.order.value : table.order.reverse
                        | startAt   : table.paginate.firstRow
                        | limitTo   : table.paginate.maxRows
                    '
                )
                    td(ng-repeat='keyObj in table.keys')
                        a.pad-lr-double.pad-tb.width-full(
                            href="/"
                            ng-if="keyObj.value !== 'links'"
                        )
                            div.spacer-xs
                            div(ng-if="typeOf(row[keyObj.value]) !== 'object'")
                                div [[ row[keyObj.value] ]]
                                div.spacer-sm

                            div.pull-left(
                                ng-if="typeOf(row[keyObj.value]) === 'object'"
                                ng-repeat='val in row[keyObj.value] track by $index'
                            )
                                div(ng-if="keyObj.value != 'links'") [[val.text]]
                        div(ng-if="keyObj.value === 'links'").width-full.pad-lr
                            div
                                div.small-4.left.pad-lr(
                                    ng-if="val.link"
                                    ng-repeat='val in row[keyObj.value] track by $index'
                                )

                                    a(href="[[val.link]]").text-xs.text-hover-gray-dark
                                        div.spacer-xs
                                        div.fa-stack
                                            i.fa.fa-stack-2x.fa-circle-thin
                                            i.fa.fa-stack-1x(class="[[icons.getClass(val.link)]]")
                                        div.spacer-xxs
                                div(ng-if="row[keyObj.value].length === 1").small-8.right
                                    a(href="/")
                                        div.spacer-lg
                                        div.spacer-md
                                        div.spacer-xs
                                div(ng-if="row[keyObj.value].length === 2").small-4.right
                                    a(href="/")
                                        div.spacer-lg
                                        div.spacer-md
                                        div.spacer-xs
        div.spacer-xl
{% endblock %}
