{% extends "layout.jade" %}

{% block css%}
link(
    href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css',
    rel='stylesheet'
)
{% endblock %}

{% block javascript %}
script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js")
script(src="/resources/js/controllers/teams.js")
script(src="/resources/js/table.js")
script
    window.teams = {{ teams }}
{% endblock %}

{% block body %}
div.row.bg-gray-light
    div.column.small-11.small-centered(
        ng-app="ControllerTeams"
        ng-controller="ControllerTeams"
        ng-cloak
    )
        div.spacer-lg
        div.row.collapse
            div.column.small-5
                div.row.collapse
                    div.column.small-10
                        input.text-xxs.text-gray-dark.text-thin.width-full.spacer-xl.pad(
                            type="text"
                            placeholder="Search by Name or Region"
                            ng-model="table.filter.value"
                            tabindex="1"
                        )
                    //- div.column.small-2.bg-red.spacer-xl.text-center(
                    //-     ng-if="table.filter.val"
                    //-     ng-click="table.filter.val = ''"
                    //- )
                    //-     div.spacer-xs
                    //-     i.fa.fa-close.text-white.text-xs

        div.spacer-sm
        table.text-left.text-gray-dark.text-xxs.valign-top
            thead
                tr.bg-gray-dark
                    th.text-white.text-thin.unselectable(
                        ng-repeat="key in table.keys"
                        ng-click="table.order.set(key)"
                        ng-class="{
                            'selected bg-green'    : table.order.latestInput === key,
                            'reversed'    : table.order.latestInput === key && table.order.reverse
                        }"
                    )
                        div.pad-lr-double.pad-tb.width-full.capitalize
                            span [[key]]
                            span.table-arrow
            tbody.bg-white
                tr.bg-hover-gray-md-dark.text-hover-white.text-thin(
                    ng-repeat='
                        row in table.rows |
                        filter : table.filter.apply |
                        orderBy : table.order.value : table.order.reverse
                    '
                )
                    td(ng-repeat='key in table.keys')
                        a.pad-lr-double.pad-tb.width-full(
                            href="/"
                            ng-if="key !== 'links'"
                        )
                            div.spacer-xs
                            div(ng-if="typeOf(row[key]) !== 'object'")
                                div [[ row[key] ]]
                                div.spacer-sm

                            div.pull-left(
                                ng-if="typeOf(row[key]) === 'object'"
                                ng-repeat='val in row[key] track by $index'
                            )
                                div(ng-if="key != 'links'") [[val.text]]
                        div(ng-if="key === 'links'").width-full.pad-lr
                            div
                                div(ng-repeat='val in row[key] track by $index').small-4.left.pad-lr
                                    a(href="[[val]]").text-xs.text-hover-gray-dark
                                        div.spacer-xs
                                        div.fa-stack
                                            i.fa.fa-stack-2x.fa-circle-thin
                                            i.fa.fa-stack-1x(class="[[icons.getClass(val.link)]]")
                                        div.spacer-xxs
                                div(ng-if="row[key].length === 1").small-8.right
                                    a(href="/")
                                        div.spacer-lg
                                        div.spacer-md
                                        div.spacer-xs
                                div(ng-if="row[key].length === 2").small-4.right
                                    a(href="/")
                                        div.spacer-lg
                                        div.spacer-md
                                        div.spacer-xs
        div.spacer-xl
{% endblock %}