doctype html
head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title {{ title }}
    link(rel='shortcut icon', href='/resources/images/favicon.png')

    link(
      rel="stylesheet"
      type="text/css"
      href="//cdnjs.cloudflare.com/ajax/libs/foundation-essential/5.4.6/css/foundation.min.css"
    )

    link(
      rel="stylesheet"
      type="text/css"
      href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"
    )

    link(
        rel='stylesheet'
        type='text/css'
        href='/resources/build/build.css'
    )

    {% block css %}
    {% endblock %}
    {% block javascript %}
    {% endblock %}
body.text-gray-dark
    {% block body %}
    {% endblock %}